<AuthorizeView>
    <Authorized>
        <span><strong>Hello, @context.User.Identity.Name</strong></span>
        <a href="Logout" class="nav-link btn btn-link">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Login" class="nav-link btn btn-link">Login</a>
    </NotAuthorized>
</AuthorizeView>