@page "/operator"


<div class="form-inline">

    <a class="btn btn-info mb-2 mr-sm-2" href="register/user">Add User</a>
    <a class="btn btn-secondary mb-2 mr-sm-2" href="register/card">Add CreditCard</a>
    <a class="btn btn-dark mb-2 mr-sm-2" href="register/account">Add Account</a>
</div>
